h2 {
    font-size: 1.5em;
}

label{
    font-size: 1.25em; 
    font-weight: bold;
}

input{
    width:45%;
    padding:0.5em;  
    border-radius: 4px;
    border: 2px solid #808080
} 

td, th{
    text-align: left;
    padding:15px; 
} 

th {
    cursor: pointer;
}