
<h2>Kurser på webbutvecklingsprogrammet</h2>

<label for="filter">Filtrera kurser:</label>
<input type="text" id="filter" [(ngModel)]="filtervalue" (input)="applyFilter()">
<table>
    <thead>
        <tr>
            <th (click)="sortCourseCode()">Kurskod</th>
            <th (click)="sortCourseName()">Namn</th>
            <th (click)="sortCourseProgression()">Progression</th>
        </tr>
    </thead>

    <tbody *ngFor="let course of filteredCourses">
        <tr>
            <td>{{ course.code }}</td>
            <td>{{ course.coursename }}</td>
            <td>{{ course.progression }}</td>
        </tr>
    </tbody>
</table>
